*{
    color:white;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 100vh;
  background-image: url("bgimg.jpeg");
  background-attachment: fixed;
  /* background-size:cover; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  height: 360px;
  width: 380px;
  border: 1px solid rgba(255,255,255,0.2);
  /* background-color: white; */
  border-radius: 5px;
  backdrop-filter:blur(5px);
  
}
#btn{
    height:40px;
    width:85%;
    border-radius:50px;
    border: 1px solid rgba(255,255,255,0.2);
    background-color:white;
}
#btn-prop{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:85%;
    flex-wrap:wrap;
}
#username{
    width:100%;
    height:100%;
    border-radius:50px;
    border: 1px solid rgba(255,255,255,0.2);
    padding-left:15px;
    box-sizing:border-box;
    background:none;
}
#password{
    width:100%;
    height:100%;
    border-radius:50px;
    border: 1px solid rgba(255,255,255,0.2);
    padding-left:15px;
    box-sizing:border-box;
    background:none;
}
.input-box{
    position:relative;
    width:85%;
    height:40px;
}
.input-box i{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:10px;
    color:white;
}
#username::placeholder,#password::placeholder{
    color:white;
    font-weight:500;
}
a{
    text-decoration:none;
}